html {
    box-sizing: border-box;
    font-size: 62.5%; 
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
}

/** Globales **/
.container {
    width: min(90%, 120rem);
    margin: 0 auto;
    text-align: center;
}


body {
    background: #ffffff9d;
}

.btn {
    padding: 1rem 1rem;
    font-weight: bold;
    border-radius: .5rem;
    cursor: pointer;
    margin: 2rem 0;
}

.btn-primario {
    color: #ffffff;
    background: #2626d6;
    border: 0.1rem solid #2626d6;
}

.btn-secundario {
    color: #2626d6;
    background: transparent;
    border: 0.1rem solid #2626d6;
}

.titulo {
    padding: 3rem 0;
}

.text-input {
    display: block;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    width: 50%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

canvas {
    background: rgb(212, 181, 39);
}